* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 10px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: #1a1a1a;
}
header {
  margin: 0 auto 50px;
  text-align: center;
}
header h1 {
  font-size: clamp(3rem, 8vw, 4.5rem);
  color: #47df82;
  margin-bottom: 15px;
}
header p {
  font-size: 1.8rem;
  color: #c3c0c0;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
  width: 100%;
  margin-bottom: 40px;
}
.pricing-card {
  background-color: #252525;
  padding: 50px 0;
  border-radius: 10px;
  transition: all 0.4s ease;
  border: 2px solid #252525;
  display: flex;
  flex-direction: column;
}
.pricing-card:hover {
  border: 2px solid #47df82;
  transform: translateY(-10px);
}
.pricing-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #294431;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.icon-container i {
  font-size: 25px;
  color: #49de82;
}
.pricing-details h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}
.plan-amount {
  font-size: 1.4rem;
  color: #c3c0c0;
  margin-bottom: 20px;
  position: relative;
}
.plan-amount::before {
  content: "$";
  position: absolute;
  color: #47df82;
  font-size: 2.5rem;
  top: 7%;
  left: -20px;
}
.plan-amount span {
  font-size: 5rem;
  font-weight: 700;
  color: #49de82;
}
.plan-desc {
  color: #c3c0c0;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.benefits-container {
  padding: 40px 30px;
  border-top: 1px solid #c3c0c0;
  flex-grow: 1;
}
.benefits-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.benefits-container li {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}
.cross {
  color: #9a4649;
}
.right {
  color: #5faf82;
}
.cross,
.right {
  font-size: 12px;
}
.get-started-btn {
  display: block;
  margin: 0 auto;
  width: 85%;
  padding: 15px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid #c3c0c0;
  background-color: #404040;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-2 {
  background-color: #47df82;
  color: black;
  border: none;
  box-shadow: 0px 10px 20px rgb(71, 223, 130, 0.3);
}
.testimonial-section {
  padding: 20px 60px 20px 60px;
  margin: 0 auto;
  max-width: 700px;
  background-color: #252525;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}
.testimonial-text p {
  font-size: 1.6rem;
  color: white;
  line-height: 1.6;
}
.quote-icon {
  position: absolute;
  left: 22px;
  top: 7%;
  font-size: 2.5rem;
  opacity: 1;
  color: #2e6345;
}
.testimonial-user-details {
  display: flex;
  gap: 20px;
  align-items: center;
}
.img-container {
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #47df82;
}
.testimonial-user-img {
  width: 100%;
}
.user-info h3 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2px;
}
.user-info p {
  font-size: 1rem;
  color: #47df82;
}

@media (max-width: 1024px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  main {
    grid-template-columns: 1fr;
    max-width: 450px;
  }
  html {
    font-size: 8px;
  }
  body {
    padding: 20px;
  }
  header h1 {
    font-size: 3.2rem;
  }
  .pricing-details {
    text-align: center;
  }
}
